{% extends 'bootstrap/base.html' %}
{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <!-- Post Content -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/community.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Comments</h1>
            <span class="subheading">Read what the Community has to say</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">


<!--           Comments Area -->

        <div class="col-lg-8 col-md-10 mx-auto comment">

          <ul class="commentList">
            {% for comment in comments: %}
            <li>
                <div class="commenterImage">
                  <img src="https://pbs.twimg.com/profile_images/744849215675838464/IH0FNIXk.jpg"/>
                </div>
                <div class="commentText">

                  <p>
                    {{comment.text|safe}}
                  </p>
                  <span class="date sub-text">comment.poster.name</span>
                </div>
            </li>
            {% endfor %}
          </ul>

        </div>

    </div>

  </div>

</div>


  <hr>
{% include "footer.html" %}
{% endblock %}